[Desktop Entry]
Type=Application
Name=Remote Controller
Comment=PlayStation Remote Play Client
Exec=lu
Icon=chiaking
Categories=Game;Network;RemoteAccess;
